{
    "python.autoComplete.addBrackets": true,
    "window.menuBarVisibility": "toggle",
    "editor.fontLigatures": true,
    "editor.fontFamily": "JetBrainsMono NF, Medium",
    "workbench.startupEditor": "newUntitledFile",
    "telemetry.enableTelemetry": false,
    "telemetry.enableCrashReporter": false,
    // "editor.scrollbar.horizontal": "hidden",
    // "editor.scrollbar.vertical": "hidden",
    "terminal.integrated.cursorStyle": "underline",
    "workbench.colorCustomizations": {
        // "tab.activeBorder": "#ff0000",
        // "statusBar.background": "#367bf0",
        // "statusBar.noFolderBackground": "#FF8A18",
        // "statusBar.debuggingBackground": "#47D4B9",
        // "list.hoverBackground": "#41a6d9",
        // "editorLineNumber.activeForeground": "#FEA44C",
        // // "editor.selectionBackground": "#05A1F7",
        // // color pallette and all credit for the awesome theme from:
        // // https://github.com/daniruiz/flat-remix-gtk
        // "terminal.ansiBlack": "#1F2229",
        // "terminal.ansiRed": "#D41919",
        // "terminal.ansiGreen": "#5EBDAB",
        // "terminal.ansiYellow": "#FEA44C",
        // "terminal.ansiBlue": "#367bf0",
        // "terminal.ansiMagenta": "#9755b3",
        // "terminal.ansiCyan": "#49AEE6",
        // "terminal.ansiWhite": "#E6E6E6",
        // "terminal.ansiBrightBlack": "#198388",
        // "terminal.ansiBrightRed": "#EC0101",
        // "terminal.ansiBrightGreen": "#47D4B9",
        // "terminal.ansiBrightYellow": "#FF8A18",
        // "terminal.ansiBrightBlue": "#277FFF",
        // "terminal.ansiBrightMagenta": "#962ac3",
        // "terminal.ansiBrightCyan": "#05A1F7",
        // "terminal.ansiBrightWhite": "#FFFFFF",
        // "terminal.background": "#272A34",
        // "terminal.foreground": "#ffffff",
        // "terminalCursor.background": "#5EBDAB",
        // "terminalCursor.foreground": "#5EBDAB",
        // "terminal.selectionBackground": "#a9ffe1",
        // "terminal.selectionHighlightBackground": "#a9ffe1"
    },
    "editor.rulers": [
        // 80,
        120
    ],
    "extensions.ignoreRecommendations": false,
    "java.home": "/usr/lib/jvm/java-1.11.0-openjdk-amd64/",
    "java.semanticHighlighting.enabled": true,
    "files.exclude": {
        "**/.classpath": true,
        "**/.project": true,
        "**/.settings": true,
        "**/.factorypath": true
    },
    "remote.containers.dockerPath": "docker",
    "remote.SSH.connectTimeout": 25,
    "java.project.importHint": false,
    "dart.allowAnalytics": false,
    "workbench.editor.wrapTabs": true,
    "editor.minimap.renderCharacters": false,
    "editor.minimap.enabled": false,
    "editor.formatOnPaste": true,
    "omnisharp.organizeImportsOnFormat": true,
    "razor.devmode": true,
    "omnisharp.defaultLaunchSolution": "",
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter.notebook.ipynb"
    },
    "python.languageServer": "Pylance",
    "python.analysis.completeFunctionParens": true,
    "dart.checkForSdkUpdates": false,
    "dart.flutterCreateAndroidLanguage": "java",
    "dart.previewLsp": true,
    "terminal.external.linuxExec": "kitty",
    "terminal.integrated.fontFamily": "JetBrainsMono NF, Medium",
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "python.pythonPath": "/usr/bin/python",
    "workbench.editor.untitled.hint": "hidden",
    "redhat.telemetry.enabled": false,
    "terminal.integrated.defaultProfile.linux": "fish",
    "editor.mouseWheelZoom": true,
    "git.allowForcePush": true,
    "editor.tabCompletion": "on",
    "workbench.editor.highlightModifiedTabs": true,
    "git.path": "/usr/bin/git",
    "security.workspace.trust.untrustedFiles": "open",
    "security.workspace.trust.banner": "never",
    "workbench.colorTheme": "GitHub Dark",
    // "vscode-kubernetes.kubectl-path.linux": "/snap/bin/kubectl",
    // "vscode-kubernetes.kubectl-path": "/snap/bin/kubectl",
    "workbench.iconTheme": "material-icon-theme",
    "vs-kubernetes": {
        "vs-kubernetes.crd-code-completion": "enabled",
        // "vs-kubernetes.enable-snap-flag": true,
    },
    "security.workspace.trust.enabled": false,
    "window.zoomLevel": 1,
}